In [1]:
import pandas as pd

In [2]:
volcano = pd.read_csv('volcanoes.csv')
tsunami = pd.read_csv('tsunami.csv')
emDat = pd.read_csv('em-datData.csv')
earthquake = pd.read_csv('earthquakes.csv')

In [10]:
len(volcano)

466

In [15]:
volcano.head()

,Year,Month,Day,TSU,EQ,Name,Location,Country,Latitude,Longitude,...,TOTAL_DEATHS,TOTAL_DEATHS_DESCRIPTION,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1900.0,1.0,22.0,NaN,NaN,Asama,Honshu-Japan,Japan,36.400,138.53,...,25.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1900.0,2.0,16.0,NaN,NaN,Kirishima,Kyushu-Japan,Japan,31.930,130.87,...,2.0,1.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN
3,1900.0,7.0,17.0,NaN,NaN,Adatara,Honshu-Japan,Japan,37.620,140.28,...,72.0,2.0,NaN,NaN,10.0,1.0,NaN,NaN,NaN,NaN
4,1900.0,NaN,NaN,NaN,NaN,Tullu Moje,Africa-NE,Ethiopia,8.158,39.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
volcano['DISASTER_TYPE']='volcano'
tsunami['DISASTER_TYPE']='tsunami'
earthquake['DISASTER_TYPE']='earthquake'

In [24]:
list(tsunami)

['I_D',
 'TSEVENT_ID',
 'YEAR',
 'MONTH',
 'DAY',
 'HOUR',
 'MINUTE',
 'SECOND',
 'DOUBTFUL',
 'COUNTRY',
 'STATE',
 'LOCATION_NAME',
 'LATITUDE',
 'LONGITUDE',
 'REGION_CODE',
 'DISTANCE_FROM_SOURCE',
 'ARR_DAY',
 'ARR_HOUR',
 'ARR_MIN',
 'TRAVEL_TIME_HOURS',
 'TRAVEL_TIME_MINUTES',
 'WATER_HT',
 'HORIZONTAL_INUNDATION',
 'TYPE_MEASUREMENT_ID',
 'PERIOD',
 'FIRST_MOTION',
 'DEATHS',
 'DEATHS_DESCRIPTION',
 'INJURIES',
 'INJURIES_DESCRIPTION',
 'DAMAGE_MILLIONS_DOLLARS',
 'DAMAGE_DESCRIPTION',
 'HOUSES_DAMAGED',
 'HOUSES_DAMAGED_DESCRIPTION',
 'HOUSES_DESTROYED',
 'HOUSES_DESTROYED_DESCRIPTION',
 'HOUSES_AFFECTED',
 'DISASTER_TYPE']

In [25]:
list(volcano)

['Year',
 'Month',
 'Day',
 'TSU',
 'EQ',
 'Name',
 'Location',
 'Country',
 'Latitude',
 'Longitude',
 'Elevation',
 'Type',
 'Status',
 'Time',
 'VEI',
 'Agent',
 'DEATHS',
 'DEATHS_DESCRIPTION',
 'MISSING',
 'MISSING_DESCRIPTION',
 'INJURIES',
 'INJURIES_DESCRIPTION',
 'DAMAGE_MILLIONS_DOLLARS',
 'DAMAGE_DESCRIPTION',
 'HOUSES_DESTROYED',
 'HOUSES_DESTROYED_DESCRIPTION',
 'TOTAL_DEATHS',
 'TOTAL_DEATHS_DESCRIPTION',
 'TOTAL_MISSING',
 'TOTAL_MISSING_DESCRIPTION',
 'TOTAL_INJURIES',
 'TOTAL_INJURIES_DESCRIPTION',
 'TOTAL_DAMAGE_MILLIONS_DOLLARS',
 'TOTAL_DAMAGE_DESCRIPTION',
 'TOTAL_HOUSES_DESTROYED',
 'TOTAL_HOUSES_DESTROYED_DESCRIPTION',
 'HOUSES_AFFECTED',
 'DISASTER_TYPE']

In [26]:
volcano = volcano.rename(columns = {'Year':'YEAR', 'Month':'MONTH', 'Day':'DAY', 'Location': 'LOCATION_NAME', 'Latitude':'LATITUDE', 'Longitude':'LONGITUDE'})

In [27]:
volcano = volcano.rename(columns = {'Country': 'COUNTRY'})

In [28]:
list(earthquake)

['I_D',
 'FLAG_TSUNAMI',
 'YEAR',
 'MONTH',
 'DAY',
 'HOUR',
 'MINUTE',
 'SECOND',
 'FOCAL_DEPTH',
 'EQ_PRIMARY',
 'EQ_MAG_MW',
 'EQ_MAG_MS',
 'EQ_MAG_MB',
 'EQ_MAG_ML',
 'EQ_MAG_MFA',
 'EQ_MAG_UNK',
 'INTENSITY',
 'COUNTRY',
 'STATE',
 'LOCATION_NAME',
 'LATITUDE',
 'LONGITUDE',
 'REGION_CODE',
 'DEATHS',
 'DEATHS_DESCRIPTION',
 'MISSING',
 'MISSING_DESCRIPTION',
 'INJURIES',
 'INJURIES_DESCRIPTION',
 'DAMAGE_MILLIONS_DOLLARS',
 'DAMAGE_DESCRIPTION',
 'HOUSES_DESTROYED',
 'HOUSES_DESTROYED_DESCRIPTION',
 'HOUSES_DAMAGED',
 'HOUSES_DAMAGED_DESCRIPTION',
 'TOTAL_DEATHS',
 'TOTAL_DEATHS_DESCRIPTION',
 'TOTAL_MISSING',
 'TOTAL_MISSING_DESCRIPTION',
 'TOTAL_INJURIES',
 'TOTAL_INJURIES_DESCRIPTION',
 'TOTAL_DAMAGE_MILLIONS_DOLLARS',
 'TOTAL_DAMAGE_DESCRIPTION',
 'TOTAL_HOUSES_DESTROYED',
 'TOTAL_HOUSES_DESTROYED_DESCRIPTION',
 'TOTAL_HOUSES_DAMAGED',
 'TOTAL_HOUSES_DAMAGED_DESCRIPTION',
 'HOUSES_AFFECTED',
 'DISASTER_TYPE']

In [29]:
earthquake=earthquake.fillna(0)

In [30]:
volcano = volcano.fillna(0)

In [31]:
tsunami = tsunami.fillna(0)

combine houses damaged and houses destroyed

In [7]:
earthquake['TOTAL_HOUSES_DAMAGED']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8           0.0
9           0.0
10          0.0
11          0.0
12          0.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21          0.0
22          0.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          0.0
29          0.0
         ...
3615        0.0
3616       60.0
3617     1650.0
3618        0.0
3619        0.0
3620     6145.0
3621        0.0
3622        0.0
3623      691.0
3624        0.0
3625        0.0
3626      260.0
3627        0.0
3628        0.0
3629        0.0
3630     3000.0
3631       75.0
3632    10911.0
3633      343.0
3634        0.0
3635     3613.0
3636        0.0
3637        0.0
3638        0.0
3639     3329.0
3640        0.0
3641        0.0
3642      167.0
3643      840.0
3644        0.0
Name: TOTAL_HOUSES_DAMAGED, Length: 3645, dtype: float64

In [11]:
earthquake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 47 columns):
I_D                                   3645 non-null int64
FLAG_TSUNAMI                          3645 non-null object
YEAR                                  3645 non-null int64
MONTH                                 3645 non-null float64
DAY                                   3645 non-null float64
HOUR                                  3645 non-null float64
MINUTE                                3645 non-null float64
SECOND                                3645 non-null float64
FOCAL_DEPTH                           3645 non-null float64
EQ_PRIMARY                            3645 non-null float64
EQ_MAG_MW                             3645 non-null float64
EQ_MAG_MS                             3645 non-null float64
EQ_MAG_MB                             3645 non-null float64
EQ_MAG_ML                             3645 non-null float64
EQ_MAG_MFA                            3645 non-null float64
EQ_MAG_UNK                            3645 non-null float64
INTENSITY                             3645 non-null float64
COUNTRY                               3645 non-null object
STATE                                 3645 non-null object
LOCATION_NAME                         3645 non-null object
LATITUDE                              3645 non-null float64
LONGITUDE                             3645 non-null float64
REGION_CODE                           3645 non-null float64
DEATHS                                3645 non-null float64
DEATHS_DESCRIPTION                    3645 non-null float64
MISSING                               3645 non-null float64
MISSING_DESCRIPTION                   3645 non-null float64
INJURIES                              3645 non-null float64
INJURIES_DESCRIPTION                  3645 non-null float64
DAMAGE_MILLIONS_DOLLARS               3645 non-null float64
DAMAGE_DESCRIPTION                    3645 non-null float64
HOUSES_DESTROYED                      3645 non-null float64
HOUSES_DESTROYED_DESCRIPTION          3645 non-null float64
HOUSES_DAMAGED                        3645 non-null float64
HOUSES_DAMAGED_DESCRIPTION            3645 non-null float64
TOTAL_DEATHS                          3645 non-null float64
TOTAL_DEATHS_DESCRIPTION              3645 non-null float64
TOTAL_MISSING                         3645 non-null float64
TOTAL_MISSING_DESCRIPTION             3645 non-null float64
TOTAL_INJURIES                        3645 non-null float64
TOTAL_INJURIES_DESCRIPTION            3645 non-null float64
TOTAL_DAMAGE_MILLIONS_DOLLARS         3645 non-null float64
TOTAL_DAMAGE_DESCRIPTION              3645 non-null float64
TOTAL_HOUSES_DESTROYED                3645 non-null float64
TOTAL_HOUSES_DESTROYED_DESCRIPTION    3645 non-null float64
TOTAL_HOUSES_DAMAGED                  3645 non-null float64
TOTAL_HOUSES_DAMAGED_DESCRIPTION      3645 non-null float64
dtypes: float64(41), int64(2), object(4)
memory usage: 1.3+ MB

In [12]:
earthquake['HOUSES_AFFECTED']=''
for i in range(len(earthquake)):
    if pd.notnull(earthquake['TOTAL_HOUSES_DAMAGED'][i]) == True and pd.notnull(earthquake['TOTAL_HOUSES_DESTROYED'][i])== True:
        earthquake['HOUSES_AFFECTED'][i] = earthquake['TOTAL_HOUSES_DAMAGED'][i] + earthquake['TOTAL_HOUSES_DESTROYED'][i]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [32]:
earthquake['HOUSES_AFFECTED']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8           0.0
9           0.0
10          0.0
11          0.0
12          0.0
13          1.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21       1200.0
22       1200.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          8.0
29          0.0
         ...
3615        0.0
3616       60.0
3617     1652.0
3618        0.0
3619        0.0
3620     6160.0
3621      600.0
3622       15.0
3623      691.0
3624        0.0
3625        0.0
3626      260.0
3627        0.0
3628        0.0
3629        0.0
3630     3000.0
3631       80.0
3632    10920.0
3633      343.0
3634        0.0
3635     4456.0
3636        4.0
3637        0.0
3638        0.0
3639     4375.0
3640      130.0
3641        0.0
3642      167.0
3643      840.0
3644        0.0
Name: HOUSES_AFFECTED, Length: 3645, dtype: float64

In [14]:
for i in range(len(earthquake)):
    if pd.notnull(earthquake['TOTAL_HOUSES_DAMAGED'][i]) == False and pd.notnull(earthquake['TOTAL_HOUSES_DESTROYED'][i])== True:
        earthquake['HOUSES_AFFECTED'][i] = earthquake['TOTAL_HOUSES_DESTROYED'][i]
    if pd.notnull(earthquake['TOTAL_HOUSES_DAMAGED'][i]) == True and pd.notnull(earthquake['TOTAL_HOUSES_DESTROYED'][i])== False:
         earthquake['HOUSES_AFFECTED'][i] = earthquake['TOTAL_HOUSES_DAMAGED'][i]

In [33]:
earthquake['HOUSES_AFFECTED']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8           0.0
9           0.0
10          0.0
11          0.0
12          0.0
13          1.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21       1200.0
22       1200.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          8.0
29          0.0
         ...
3615        0.0
3616       60.0
3617     1652.0
3618        0.0
3619        0.0
3620     6160.0
3621      600.0
3622       15.0
3623      691.0
3624        0.0
3625        0.0
3626      260.0
3627        0.0
3628        0.0
3629        0.0
3630     3000.0
3631       80.0
3632    10920.0
3633      343.0
3634        0.0
3635     4456.0
3636        4.0
3637        0.0
3638        0.0
3639     4375.0
3640      130.0
3641        0.0
3642      167.0
3643      840.0
3644        0.0
Name: HOUSES_AFFECTED, Length: 3645, dtype: float64

In [16]:
volcano['HOUSES_AFFECTED']=''
for i in range(len(volcano)):
    volcano['HOUSES_AFFECTED'][i] = volcano['TOTAL_HOUSES_DESTROYED'][i]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [34]:
volcano['HOUSES_AFFECTED']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29      543.0
        ...
436       0.0
437       0.0
438       0.0
439       0.0
440       0.0
441       0.0
442       0.0
443       0.0
444       0.0
445       0.0
446       0.0
447       0.0
448       0.0
449       0.0
450       0.0
451       0.0
452       0.0
453       0.0
454       0.0
455       0.0
456       0.0
457     700.0
458     186.0
459       0.0
460     164.0
461       0.0
462    2844.0
463      15.0
464       0.0
465       0.0
Name: HOUSES_AFFECTED, Length: 466, dtype: float64

In [18]:
tsunami['HOUSES_AFFECTED']=''
for i in range(len(tsunami)):
    if pd.notnull(tsunami['HOUSES_DAMAGED'][i]) == True and pd.notnull(tsunami['HOUSES_DESTROYED'][i])== True:
        tsunami['HOUSES_AFFECTED'][i] = tsunami['HOUSES_DAMAGED'][i] + tsunami['HOUSES_DESTROYED'][i]
    if pd.notnull(tsunami['HOUSES_DAMAGED'][i]) == False and pd.notnull(tsunami['HOUSES_DESTROYED'][i])== True:
        tsunami['HOUSES_AFFECTED'][i] = tsunami['HOUSES_DESTROYED'][i]
    if pd.notnull(tsunami['HOUSES_DAMAGED'][i]) == True and pd.notnull(tsunami['HOUSES_DESTROYED'][i])== False:
         tsunami['HOUSES_AFFECTED'][i] = tsunami['HOUSES_DAMAGED'][i]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [36]:
tsunami['HOUSES_AFFECTED'].unique()

array([0.00000e+00, 4.70000e+02, 1.70000e+03, 1.00000e+03, 8.00000e+01,
       7.00000e+02, 2.00000e+01, 2.23000e+02, 4.90000e+02, 3.00000e+02,
       1.02000e+03, 4.40000e+02, 2.70000e+02, 5.80000e+01, 1.50000e+01,
       5.05000e+02, 1.16800e+03, 6.03000e+02, 1.34300e+03, 1.80000e+04,
       2.00200e+03, 2.00000e+00, 2.00000e+02, 7.89000e+02, 8.20000e+01,
       2.60000e+01, 1.00000e+00, 4.00000e+03, 9.00000e+00, 3.23700e+03,
       1.05400e+03, 3.80000e+02, 3.00000e+00, 8.00000e+00, 1.60000e+01,
       1.50000e+02, 1.23000e+02, 1.00000e+02, 6.60000e+01, 6.70000e+01,
       1.11000e+02, 2.67000e+02, 7.00000e+01, 2.30000e+02, 6.10000e+01,
       4.50000e+02, 1.20000e+01, 4.00000e+01, 1.12000e+02, 8.16000e+02,
       2.15000e+02, 2.94700e+03, 1.05000e+02, 1.01000e+02, 9.60000e+01,
       1.08000e+02, 7.50000e+01, 5.40000e+01, 4.00000e+00, 1.10000e+01,
       9.80000e+01, 1.90000e+01, 1.80000e+01, 3.00000e+01, 1.55000e+02,
       4.80000e+01, 6.00000e+02, 2.22900e+03, 4.10000e+01, 7.00000e+00,
       6.00000e+00, 5.00000e+01, 4.45400e+03, 2.30000e+01, 1.58000e+02,
       3.80000e+01, 1.00000e+01, 9.10000e+01, 3.18000e+02, 5.00000e+00,
       8.00000e+02, 4.00000e+02, 3.30000e+01, 5.20000e+01, 5.60000e+01,
       3.60000e+01, 1.87000e+02, 3.55000e+02, 7.94000e+02, 4.60000e+01,
       1.41000e+05, 2.35377e+05, 8.07400e+03, 1.03836e+05, 4.80600e+03,
       8.30000e+01, 1.30000e+02, 5.50000e+01, 1.14600e+03, 6.92000e+02,
       3.60000e+03, 2.50000e+01, 4.79000e+02, 1.30000e+01, 2.00000e+03,
       5.80000e+03, 2.40000e+01, 4.61500e+03, 2.64000e+02, 1.37000e+02,
       6.80000e+02, 1.89000e+02, 1.68600e+03, 2.80000e+01, 2.25000e+02,
       1.60000e+02, 6.00000e+03, 1.10000e+02, 4.37000e+02, 3.88000e+02,
       1.28000e+02, 5.73000e+02, 3.97000e+02, 3.50000e+01, 2.54000e+02,
       2.43000e+02, 3.49800e+03, 1.21300e+03, 1.06200e+03, 1.06100e+03,
       7.84000e+02, 8.46000e+02, 3.86000e+02, 9.70000e+02, 1.53000e+02,
       2.18000e+02, 1.70000e+01, 3.40000e+02, 5.54900e+03, 5.97600e+03,
       6.95000e+02, 1.92800e+03, 2.79000e+02, 3.54000e+02, 2.60000e+02,
       5.86000e+02, 1.10200e+03, 1.29000e+02, 9.20000e+01, 7.42000e+02,
       2.06000e+02, 3.89000e+02, 4.32000e+02, 3.20000e+01, 3.37000e+03,
       1.86100e+03, 2.05000e+02, 2.70000e+01, 3.70000e+01, 9.00000e+01,
       1.14000e+02, 2.20000e+01, 1.40000e+01, 4.40000e+01, 1.02000e+02,
       1.21200e+03, 1.92000e+02, 7.10000e+01, 1.48000e+02, 5.50000e+02,
       2.53000e+02, 1.20000e+02, 5.10000e+01, 3.10000e+01, 2.12900e+03,
       8.40000e+01, 6.62000e+02, 6.07000e+02, 2.46000e+02, 4.70000e+01,
       6.50000e+01, 1.90000e+02, 4.20000e+01, 2.57800e+03, 1.40000e+03,
       7.53470e+04])

In [37]:
tsunami['HOUSES_DAMAGED'].unique()

array([0.0000e+00, 5.0000e+01, 5.6000e+01, 1.0000e+02, 2.9470e+03,
       2.0000e+00, 1.0000e+00, 1.7000e+01, 1.2000e+01, 4.9000e+01,
       1.9000e+01, 4.0000e+00, 3.0000e+02, 6.0000e+00, 2.2400e+02,
       3.7000e+01, 2.6000e+02, 3.0000e+00, 8.0000e+00, 2.6900e+02,
       3.9700e+02, 2.3000e+01, 3.8561e+04, 8.3000e+01, 1.6000e+01,
       5.5000e+01, 3.0000e+01, 3.4600e+02, 1.8000e+03, 1.8000e+01,
       1.5000e+02, 4.7900e+02, 1.0000e+03, 3.4000e+02, 2.6000e+01,
       4.0000e+02, 1.4000e+01, 1.3600e+02, 3.0000e+03, 5.0000e+00,
       1.2800e+02, 5.7300e+02, 3.6000e+03, 4.0000e+01, 2.4900e+02,
       2.0000e+03, 2.4300e+02, 7.8400e+02, 8.4600e+02, 3.8600e+02,
       1.5300e+02, 2.1800e+02, 2.4260e+03, 1.1750e+03, 9.3000e+01,
       1.0100e+02, 2.0000e+02, 7.4900e+02, 9.1000e+01, 3.5400e+02,
       5.8600e+02, 1.1020e+03, 1.2900e+02, 9.2000e+01, 7.4200e+02,
       2.0600e+02, 3.8900e+02, 4.3200e+02, 3.2000e+01, 3.3700e+03,
       1.8610e+03, 2.0500e+02, 7.0000e+00, 2.0000e+01, 3.4000e+01,
       4.4000e+01, 9.0000e+00, 1.9200e+02, 3.5000e+02, 2.5000e+02,
       1.4800e+02, 2.2000e+01, 5.5000e+02, 7.0000e+02, 3.1000e+01,
       2.1290e+03, 1.5000e+01, 8.4000e+01, 6.6200e+02, 1.6000e+02,
       1.1000e+01, 3.5000e+01, 6.0700e+02, 2.4600e+02, 4.7000e+01,
       1.0000e+01, 1.1000e+02, 1.1670e+03, 3.8000e+01, 6.9483e+04])

grab info from datasets needed

In [38]:
volcano_df = volcano[['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS']]

In [39]:
tsunami_df = tsunami[['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'DEATHS', 'INJURIES']]

In [40]:
earthquake_df = earthquake[['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS']]

In [41]:
tsunami_df = tsunami_df.rename(columns={'DEATHS':'TOTAL_DEATHS', 'INJURIES':'TOTAL_INJURIES'})

In [42]:
#check lengths before merge
print(len(volcano_df))
print(len(tsunami_df))
print(len(earthquake_df))
print(len(volcano_df)+len(tsunami_df)+len(earthquake_df))

466
27143
3645
31254

In [43]:
noaa = pd.merge(volcano_df, tsunami_df, on =['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'TOTAL_DEATHS','TOTAL_INJURIES'], how='outer')

In [44]:
noaa = pd.merge(noaa, earthquake_df, on = ['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS'], how='outer')

In [45]:
len(noaa)

31254

In [46]:
list(noaa)

['YEAR',
 'COUNTRY',
 'LATITUDE',
 'LONGITUDE',
 'DISASTER_TYPE',
 'HOUSES_AFFECTED',
 'TOTAL_DEATHS',
 'TOTAL_INJURIES',
 'TOTAL_DAMAGE_MILLIONS_DOLLARS']

bring in emDat, clean columns

In [47]:
emDat.head()

,year,iso,country_name,disaster subtype,occurrence,Total deaths,Injured,Affected,Homeless,Total affected,Total damage ('000 US$)
0,1900,JPN,Japan,Ash fall,1.0,30.0,NaN,NaN,NaN,NaN,NaN
1,1901,JPN,Japan,Tsunami,1.0,18.0,NaN,NaN,NaN,NaN,NaN
2,1901,TZA,"Tanzania, United Republic of",Ground movement,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1902,SLV,El Salvador,Tsunami,1.0,185.0,NaN,NaN,NaN,NaN,NaN
4,1902,GTM,Guatemala,Ash fall,2.0,7000.0,NaN,NaN,NaN,NaN,NaN

In [48]:
list(emDat)

['year',
 'iso',
 ' country_name',
 'disaster subtype',
 'occurrence',
 'Total deaths',
 'Injured',
 'Affected',
 'Homeless',
 'Total affected',
 "Total damage  ('000 US$)"]

In [49]:
emDat = emDat.rename(columns = {'year':'YEAR', ' country_name':'COUNTRY', 'disaster subtype':'DISASTER_TYPE','Total deaths':'TOTAL_DEATHS','Injured':'TOTAL_INJURED', 'Total affected':'TOTAL_AFFECTED', 'Homeless':'TOTAL_HOMELESS', "Total damage  ('000 US$)":'TOTAL_DAMAGED'})

In [50]:
emDat = emDat.rename(columns = {'TOTAL_INJURED': 'TOTAL_INJURIES'})

In [51]:
emDat['TOTAL_DAMAGE_MILLIONS_DOLLARS']=''
for i in range(len(emDat)):
    if pd.notnull(emDat['TOTAL_DAMAGED'][i]) == True:
        emDat['TOTAL_DAMAGE_MILLIONS_DOLLARS'][i] = emDat['TOTAL_DAMAGED'][i]/1000

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [52]:
emDat = emDat[['YEAR', 'COUNTRY', 'DISASTER_TYPE', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS']]

In [53]:
print(len(emDat))
print(len(noaa))
print(len(emDat)+len(noaa))

1230
31254
32484

In [54]:
emDat = pd.read_csv('emDat_2.csv')

In [55]:
noaa = noaa[pd.notnull(noaa['YEAR'])]
emDat = emDat[pd.notnull(emDat['YEAR'])]

In [56]:
noaa["YEAR"] = noaa["YEAR"].astype('int64')
emDat["YEAR"] = emDat["YEAR"].astype('int64')

In [57]:
noaa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31254 entries, 0 to 31253
Data columns (total 9 columns):
YEAR                             31254 non-null int64
COUNTRY                          31254 non-null object
LATITUDE                         31254 non-null float64
LONGITUDE                        31254 non-null float64
DISASTER_TYPE                    31254 non-null object
HOUSES_AFFECTED                  31254 non-null float64
TOTAL_DEATHS                     31254 non-null float64
TOTAL_INJURIES                   31254 non-null float64
TOTAL_DAMAGE_MILLIONS_DOLLARS    4111 non-null float64
dtypes: float64(6), int64(1), object(2)
memory usage: 2.4+ MB

In [58]:
emDat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1226 entries, 0 to 1225
Data columns (total 8 columns):
Unnamed: 0                       1226 non-null int64
Unnamed: 0.1                     1226 non-null int64
YEAR                             1226 non-null int64
COUNTRY                          1226 non-null object
DISASTER_TYPE                    1226 non-null object
TOTAL_DEATHS                     903 non-null float64
TOTAL_INJURIES                   680 non-null float64
TOTAL_DAMAGE_MILLIONS_DOLLARS    457 non-null float64
dtypes: float64(3), int64(3), object(2)
memory usage: 86.2+ KB

Merge dataframes

In [59]:
master = pd.merge(noaa, emDat, on=['YEAR', 'COUNTRY', 'DISASTER_TYPE', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS'], how = 'outer')

In [60]:
master.head()

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
0,0,0,0.000,0.00,volcano,0.0,0.0,0.0,0.0,NaN,NaN
1,1900,Japan,36.400,138.53,volcano,0.0,25.0,0.0,0.0,NaN,NaN
2,1900,Japan,31.930,130.87,volcano,0.0,2.0,3.0,0.0,NaN,NaN
3,1900,Japan,37.620,140.28,volcano,0.0,72.0,10.0,0.0,NaN,NaN
4,1900,Ethiopia,8.158,39.13,volcano,0.0,0.0,0.0,0.0,NaN,NaN

get rid of years <1900

In [61]:
master = master.sort_values('YEAR')

In [62]:
master.head()

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
15771,-2000,SYRIA,35.583,35.75,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
18525,-1610,SYRIA,35.583,35.75,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
466,-1610,GREECE,35.500,25.00,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
467,-479,GREECE,40.300,23.33,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
470,-426,GREECE,38.000,23.68,tsunami,0.0,0.0,0.0,NaN,NaN,NaN

In [63]:
master_test = master

In [64]:
for i in range(len(master_test)):
    if master_test['YEAR'][i] < 1900:
        master_test.drop(i, inplace = True)

In [65]:
master_test.sort_values('YEAR')

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
27613,1900,MEXICO,20.000000,-105.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
12244,1900,VENEZUELA,10.333000,-65.917000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
2553,1900,PAPUA NEW GUINEA,-4.325000,152.240000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
15573,1900,INDONESIA,-3.050000,135.750000,tsunami,1.0,5.0,0.0,NaN,NaN,NaN
2,1900,Japan,31.930000,130.870000,volcano,0.0,2.0,3.0,0.0,NaN,NaN
27609,1900,INDONESIA,-0.030000,127.250000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27616,1900,COSTA RICA,10.000000,-85.500000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
4,1900,Ethiopia,8.158000,39.130000,volcano,0.0,0.0,0.0,0.0,NaN,NaN
27615,1900,VENEZUELA,10.600000,-66.950000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27617,1900,TURKEY,40.300000,43.100000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27612,1900,MEXICO,20.000000,-105.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27618,1900,SOLOMON ISLANDS,-10.000000,165.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27611,1900,JAPAN,36.500000,133.500000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27610,1900,INDONESIA,-6.840000,106.960000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
31254,1900,Japan,NaN,NaN,Ash fall,NaN,30.0,NaN,NaN,0.0,0.0
3,1900,Japan,37.620000,140.280000,volcano,0.0,72.0,10.0,0.0,NaN,NaN
12245,1900,VENEZUELA,10.617000,-66.883000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
18480,1900,PALAU,3.006110,131.123889,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
14721,1900,USA,58.640000,-137.570000,tsunami,0.0,5.0,0.0,NaN,NaN,NaN
25196,1900,INDONESIA,-2.850000,134.500000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
25197,1900,INDONESIA,-2.416700,134.216700,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
12246,1900,VENEZUELA,10.383000,-65.983000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
12247,1900,VENEZUELA,10.300000,-65.983000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
2554,1900,PAPUA NEW GUINEA,0.000000,0.000000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27614,1900,VENEZUELA,10.300000,-63.300000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
2551,1900,PAPUA NEW GUINEA,-4.220000,152.180000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27619,1900,USA,58.600000,-137.500000,earthquake,0.0,5.0,0.0,0.0,NaN,NaN
27620,1900,PAPUA NEW GUINEA,-4.000000,152.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
2552,1900,PAPUA NEW GUINEA,-4.220000,152.180000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27622,1900,COLOMBIA,4.600000,-74.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27386,2018,INDONESIA,-0.843634,119.818903,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27387,2018,INDONESIA,-0.817553,119.810797,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27380,2018,INDONESIA,-2.678000,118.880000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27388,2018,INDONESIA,-0.874983,119.834851,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
31244,2019,INDONESIA,-8.418000,116.520000,earthquake,4456.0,6.0,0.0,0.0,NaN,NaN
31245,2019,TANZANIA,-7.878000,32.085000,earthquake,4.0,1.0,0.0,0.0,NaN,NaN
31246,2019,INDONESIA,-1.852000,122.553000,earthquake,0.0,1.0,0.0,0.0,NaN,NaN
31247,2019,TAIWAN,23.989000,121.693000,earthquake,0.0,1.0,16.0,0.0,NaN,NaN
31248,2019,PHILIPPINES,14.924000,120.497000,earthquake,4375.0,18.0,183.0,0.0,NaN,NaN
31251,2019,CHINA,45.205000,124.611000,earthquake,167.0,0.0,0.0,0.0,NaN,NaN
31250,2019,PAPUA NEW GUINEA,-4.081000,152.569000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
31252,2019,NETHERLANDS,53.394000,6.586000,earthquake,840.0,0.0,0.0,0.0,NaN,NaN
31253,2019,PERU,-5.796000,-75.298000,earthquake,0.0,2.0,30.0,0.0,NaN,NaN
31243,2019,PERU,-14.684000,-70.127000,earthquake,0.0,1.0,1.0,0.0,NaN,NaN
31249,2019,PAPUA NEW GUINEA,-6.977000,146.440000,earthquake,130.0,0.0,0.0,0.0,NaN,NaN
31242,2019,INDONESIA,-1.301000,101.601000,earthquake,343.0,0.0,48.0,0.0,NaN,NaN
31233,2019,IRAN,34.121000,45.681000,earthquake,0.0,0.0,75.0,0.0,NaN,NaN
31240,2019,ECUADOR,-2.199000,-77.023000,earthquake,80.0,1.0,9.0,0.0,NaN,NaN
31239,2019,AZERBAIJAN,40.892000,48.602000,earthquake,3000.0,0.0,3.0,0.0,NaN,NaN
31238,2019,INDIA,19.600000,72.800000,earthquake,0.0,1.0,0.0,0.0,NaN,NaN
31237,2019,MEXICO,14.763000,-92.298000,earthquake,0.0,0.0,4.0,0.0,NaN,NaN
31236,2019,POLAND,50.080000,18.390000,earthquake,0.0,1.0,8.0,0.0,NaN,NaN
31235,2019,CHILE,-30.074000,-71.423000,earthquake,260.0,2.0,0.0,0.0,NaN,NaN
31234,2019,POLAND,51.520000,16.090000,earthquake,0.0,1.0,6.0,0.0,NaN,NaN
464,2019,Papua New Guinea,-4.100000,145.061000,volcano,0.0,0.0,0.0,0.0,NaN,NaN
31232,2019,CHINA,28.261000,104.984000,earthquake,691.0,0.0,774.0,0.0,NaN,NaN
32478,2019,Indonesia,NaN,NaN,Ground movement,NaN,9.0,45.0,NaN,1224.0,1224.0
465,2019,Indonesia,3.170000,98.392000,volcano,0.0,0.0,0.0,0.0,NaN,NaN
31241,2019,CHINA,29.498000,104.632000,earthquake,10920.0,2.0,12.0,2.0,NaN,NaN
32479,2019,Italy,NaN,NaN,--,NaN,NaN,28.0,115.0,1225.0,1225.0

In [66]:
master = master_test

In [67]:
master.sort_values('YEAR')

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
27613,1900,MEXICO,20.000000,-105.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
12244,1900,VENEZUELA,10.333000,-65.917000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
2553,1900,PAPUA NEW GUINEA,-4.325000,152.240000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
15573,1900,INDONESIA,-3.050000,135.750000,tsunami,1.0,5.0,0.0,NaN,NaN,NaN
2,1900,Japan,31.930000,130.870000,volcano,0.0,2.0,3.0,0.0,NaN,NaN
27609,1900,INDONESIA,-0.030000,127.250000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27616,1900,COSTA RICA,10.000000,-85.500000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
4,1900,Ethiopia,8.158000,39.130000,volcano,0.0,0.0,0.0,0.0,NaN,NaN
27615,1900,VENEZUELA,10.600000,-66.950000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27617,1900,TURKEY,40.300000,43.100000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27612,1900,MEXICO,20.000000,-105.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27618,1900,SOLOMON ISLANDS,-10.000000,165.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27611,1900,JAPAN,36.500000,133.500000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
27610,1900,INDONESIA,-6.840000,106.960000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
31254,1900,Japan,NaN,NaN,Ash fall,NaN,30.0,NaN,NaN,0.0,0.0
3,1900,Japan,37.620000,140.280000,volcano,0.0,72.0,10.0,0.0,NaN,NaN
12245,1900,VENEZUELA,10.617000,-66.883000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
18480,1900,PALAU,3.006110,131.123889,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
14721,1900,USA,58.640000,-137.570000,tsunami,0.0,5.0,0.0,NaN,NaN,NaN
25196,1900,INDONESIA,-2.850000,134.500000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
25197,1900,INDONESIA,-2.416700,134.216700,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
12246,1900,VENEZUELA,10.383000,-65.983000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
12247,1900,VENEZUELA,10.300000,-65.983000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
2554,1900,PAPUA NEW GUINEA,0.000000,0.000000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27614,1900,VENEZUELA,10.300000,-63.300000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
2551,1900,PAPUA NEW GUINEA,-4.220000,152.180000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27619,1900,USA,58.600000,-137.500000,earthquake,0.0,5.0,0.0,0.0,NaN,NaN
27620,1900,PAPUA NEW GUINEA,-4.000000,152.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
2552,1900,PAPUA NEW GUINEA,-4.220000,152.180000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27622,1900,COLOMBIA,4.600000,-74.000000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27386,2018,INDONESIA,-0.843634,119.818903,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27387,2018,INDONESIA,-0.817553,119.810797,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27380,2018,INDONESIA,-2.678000,118.880000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27388,2018,INDONESIA,-0.874983,119.834851,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
31244,2019,INDONESIA,-8.418000,116.520000,earthquake,4456.0,6.0,0.0,0.0,NaN,NaN
31245,2019,TANZANIA,-7.878000,32.085000,earthquake,4.0,1.0,0.0,0.0,NaN,NaN
31246,2019,INDONESIA,-1.852000,122.553000,earthquake,0.0,1.0,0.0,0.0,NaN,NaN
31247,2019,TAIWAN,23.989000,121.693000,earthquake,0.0,1.0,16.0,0.0,NaN,NaN
31248,2019,PHILIPPINES,14.924000,120.497000,earthquake,4375.0,18.0,183.0,0.0,NaN,NaN
31251,2019,CHINA,45.205000,124.611000,earthquake,167.0,0.0,0.0,0.0,NaN,NaN
31250,2019,PAPUA NEW GUINEA,-4.081000,152.569000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
31252,2019,NETHERLANDS,53.394000,6.586000,earthquake,840.0,0.0,0.0,0.0,NaN,NaN
31253,2019,PERU,-5.796000,-75.298000,earthquake,0.0,2.0,30.0,0.0,NaN,NaN
31243,2019,PERU,-14.684000,-70.127000,earthquake,0.0,1.0,1.0,0.0,NaN,NaN
31249,2019,PAPUA NEW GUINEA,-6.977000,146.440000,earthquake,130.0,0.0,0.0,0.0,NaN,NaN
31242,2019,INDONESIA,-1.301000,101.601000,earthquake,343.0,0.0,48.0,0.0,NaN,NaN
31233,2019,IRAN,34.121000,45.681000,earthquake,0.0,0.0,75.0,0.0,NaN,NaN
31240,2019,ECUADOR,-2.199000,-77.023000,earthquake,80.0,1.0,9.0,0.0,NaN,NaN
31239,2019,AZERBAIJAN,40.892000,48.602000,earthquake,3000.0,0.0,3.0,0.0,NaN,NaN
31238,2019,INDIA,19.600000,72.800000,earthquake,0.0,1.0,0.0,0.0,NaN,NaN
31237,2019,MEXICO,14.763000,-92.298000,earthquake,0.0,0.0,4.0,0.0,NaN,NaN
31236,2019,POLAND,50.080000,18.390000,earthquake,0.0,1.0,8.0,0.0,NaN,NaN
31235,2019,CHILE,-30.074000,-71.423000,earthquake,260.0,2.0,0.0,0.0,NaN,NaN
31234,2019,POLAND,51.520000,16.090000,earthquake,0.0,1.0,6.0,0.0,NaN,NaN
464,2019,Papua New Guinea,-4.100000,145.061000,volcano,0.0,0.0,0.0,0.0,NaN,NaN
31232,2019,CHINA,28.261000,104.984000,earthquake,691.0,0.0,774.0,0.0,NaN,NaN
32478,2019,Indonesia,NaN,NaN,Ground movement,NaN,9.0,45.0,NaN,1224.0,1224.0
465,2019,Indonesia,3.170000,98.392000,volcano,0.0,0.0,0.0,0.0,NaN,NaN
31241,2019,CHINA,29.498000,104.632000,earthquake,10920.0,2.0,12.0,2.0,NaN,NaN
32479,2019,Italy,NaN,NaN,--,NaN,NaN,28.0,115.0,1225.0,1225.0

Drop NAN in Lat/Long, Disaster

In [68]:
master_map = master[pd.notnull(master['LATITUDE'])]
master_map = master_map[pd.notnull(master_map['LONGITUDE'])]
master_map = master_map[pd.notnull(master_map['DISASTER_TYPE'])]

In [69]:
master_map.head()

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
27613,1900,MEXICO,20.000,-105.000,earthquake,0.0,0.0,0.0,0.0,NaN,NaN
12246,1900,VENEZUELA,10.383,-65.983,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
12247,1900,VENEZUELA,10.300,-65.983,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
2554,1900,PAPUA NEW GUINEA,0.000,0.000,tsunami,0.0,0.0,0.0,NaN,NaN,NaN
27614,1900,VENEZUELA,10.300,-63.300,earthquake,0.0,0.0,0.0,0.0,NaN,NaN

Drop NAN in general

In [70]:
master_chart = master_map.fillna(0)

In [71]:
master_chart

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
27613,1900,MEXICO,20.000000,-105.000000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
12246,1900,VENEZUELA,10.383000,-65.983000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
12247,1900,VENEZUELA,10.300000,-65.983000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
2554,1900,PAPUA NEW GUINEA,0.000000,0.000000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
27614,1900,VENEZUELA,10.300000,-63.300000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
2552,1900,PAPUA NEW GUINEA,-4.220000,152.180000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
2551,1900,PAPUA NEW GUINEA,-4.220000,152.180000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
27619,1900,USA,58.600000,-137.500000,earthquake,0.0,5.0,0.0,0.0,0.0,0.0
27620,1900,PAPUA NEW GUINEA,-4.000000,152.000000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
27621,1900,PAPUA NEW GUINEA,-5.000000,148.000000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
27622,1900,COLOMBIA,4.600000,-74.000000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
27623,1900,INDONESIA,-4.000000,140.000000,earthquake,1.0,5.0,0.0,0.0,0.0,0.0
27624,1900,USA,57.090000,-153.480000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
27625,1900,VENEZUELA,11.000000,-66.000000,earthquake,0.0,25.0,0.0,0.0,0.0,0.0
1,1900,Japan,36.400000,138.530000,volcano,0.0,25.0,0.0,0.0,0.0,0.0
27626,1900,RUSSIA,43.000000,146.000000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
25195,1900,INDONESIA,1.816667,127.850000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
25196,1900,INDONESIA,-2.850000,134.500000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
25197,1900,INDONESIA,-2.416700,134.216700,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
18480,1900,PALAU,3.006110,131.123889,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
12245,1900,VENEZUELA,10.617000,-66.883000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
12244,1900,VENEZUELA,10.333000,-65.917000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
2553,1900,PAPUA NEW GUINEA,-4.325000,152.240000,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
15573,1900,INDONESIA,-3.050000,135.750000,tsunami,1.0,5.0,0.0,0.0,0.0,0.0
2,1900,Japan,31.930000,130.870000,volcano,0.0,2.0,3.0,0.0,0.0,0.0
27609,1900,INDONESIA,-0.030000,127.250000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
27616,1900,COSTA RICA,10.000000,-85.500000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
4,1900,Ethiopia,8.158000,39.130000,volcano,0.0,0.0,0.0,0.0,0.0,0.0
27615,1900,VENEZUELA,10.600000,-66.950000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
14721,1900,USA,58.640000,-137.570000,tsunami,0.0,5.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
27434,2018,INDONESIA,-0.710690,119.858920,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
27435,2018,INDONESIA,-0.710718,119.858905,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
27436,2018,INDONESIA,-0.711010,119.858190,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
27437,2018,INDONESIA,-0.727500,119.857160,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
27431,2018,INDONESIA,-0.707070,119.852920,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
27446,2018,INDONESIA,-0.679720,119.759970,tsunami,0.0,0.0,0.0,0.0,0.0,0.0
31232,2019,CHINA,28.261000,104.984000,earthquake,691.0,0.0,774.0,0.0,0.0,0.0
464,2019,Papua New Guinea,-4.100000,145.061000,volcano,0.0,0.0,0.0,0.0,0.0,0.0
31233,2019,IRAN,34.121000,45.681000,earthquake,0.0,0.0,75.0,0.0,0.0,0.0
31234,2019,POLAND,51.520000,16.090000,earthquake,0.0,1.0,6.0,0.0,0.0,0.0
31235,2019,CHILE,-30.074000,-71.423000,earthquake,260.0,2.0,0.0,0.0,0.0,0.0
31236,2019,POLAND,50.080000,18.390000,earthquake,0.0,1.0,8.0,0.0,0.0,0.0
31237,2019,MEXICO,14.763000,-92.298000,earthquake,0.0,0.0,4.0,0.0,0.0,0.0
31238,2019,INDIA,19.600000,72.800000,earthquake,0.0,1.0,0.0,0.0,0.0,0.0
31239,2019,AZERBAIJAN,40.892000,48.602000,earthquake,3000.0,0.0,3.0,0.0,0.0,0.0
31240,2019,ECUADOR,-2.199000,-77.023000,earthquake,80.0,1.0,9.0,0.0,0.0,0.0
31241,2019,CHINA,29.498000,104.632000,earthquake,10920.0,2.0,12.0,2.0,0.0,0.0
31242,2019,INDONESIA,-1.301000,101.601000,earthquake,343.0,0.0,48.0,0.0,0.0,0.0
31243,2019,PERU,-14.684000,-70.127000,earthquake,0.0,1.0,1.0,0.0,0.0,0.0
31244,2019,INDONESIA,-8.418000,116.520000,earthquake,4456.0,6.0,0.0,0.0,0.0,0.0
31245,2019,TANZANIA,-7.878000,32.085000,earthquake,4.0,1.0,0.0,0.0,0.0,0.0
31246,2019,INDONESIA,-1.852000,122.553000,earthquake,0.0,1.0,0.0,0.0,0.0,0.0
31247,2019,TAIWAN,23.989000,121.693000,earthquake,0.0,1.0,16.0,0.0,0.0,0.0
31248,2019,PHILIPPINES,14.924000,120.497000,earthquake,4375.0,18.0,183.0,0.0,0.0,0.0
31249,2019,PAPUA NEW GUINEA,-6.977000,146.440000,earthquake,130.0,0.0,0.0,0.0,0.0,0.0
31250,2019,PAPUA NEW GUINEA,-4.081000,152.569000,earthquake,0.0,0.0,0.0,0.0,0.0,0.0
31251,2019,CHINA,45.205000,124.611000,earthquake,167.0,0.0,0.0,0.0,0.0,0.0
31252,2019,NETHERLANDS,53.394000,6.586000,earthquake,840.0,0.0,0.0,0.0,0.0,0.0
31253,2019,PERU,-5.796000,-75.298000,earthquake,0.0,2.0,30.0,0.0,0.0,0.0
465,2019,Indonesia,3.170000,98.392000,volcano,0.0,0.0,0.0,0.0,0.0,0.0

Export all data

In [72]:
master_map.to_csv('master_map.csv')
master_chart.to_csv('master_chart.csv')