In [1]:
import pandas as pd

In [2]:
volcano = pd.read_csv('volcanoes.csv')
tsunami = pd.read_csv('tsunami.csv')
emDat = pd.read_csv('em-datData.csv')
earthquake = pd.read_csv('earthquakes.csv')

In [10]:
len(volcano)

466

In [15]:
volcano.head()

,Year,Month,Day,TSU,EQ,Name,Location,Country,Latitude,Longitude,...,TOTAL_DEATHS,TOTAL_DEATHS_DESCRIPTION,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1900.0,1.0,22.0,NaN,NaN,Asama,Honshu-Japan,Japan,36.400,138.53,...,25.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1900.0,2.0,16.0,NaN,NaN,Kirishima,Kyushu-Japan,Japan,31.930,130.87,...,2.0,1.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN
3,1900.0,7.0,17.0,NaN,NaN,Adatara,Honshu-Japan,Japan,37.620,140.28,...,72.0,2.0,NaN,NaN,10.0,1.0,NaN,NaN,NaN,NaN
4,1900.0,NaN,NaN,NaN,NaN,Tullu Moje,Africa-NE,Ethiopia,8.158,39.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
volcano['DISASTER_TYPE']='volcano'
tsunami['DISASTER_TYPE']='tsunami'
earthquake['DISASTER_TYPE']='earthquake'

In [4]:
list(tsunami)

['I_D',
 'TSEVENT_ID',
 'YEAR',
 'MONTH',
 'DAY',
 'HOUR',
 'MINUTE',
 'SECOND',
 'DOUBTFUL',
 'COUNTRY',
 'STATE',
 'LOCATION_NAME',
 'LATITUDE',
 'LONGITUDE',
 'REGION_CODE',
 'DISTANCE_FROM_SOURCE',
 'ARR_DAY',
 'ARR_HOUR',
 'ARR_MIN',
 'TRAVEL_TIME_HOURS',
 'TRAVEL_TIME_MINUTES',
 'WATER_HT',
 'HORIZONTAL_INUNDATION',
 'TYPE_MEASUREMENT_ID',
 'PERIOD',
 'FIRST_MOTION',
 'DEATHS',
 'DEATHS_DESCRIPTION',
 'INJURIES',
 'INJURIES_DESCRIPTION',
 'DAMAGE_MILLIONS_DOLLARS',
 'DAMAGE_DESCRIPTION',
 'HOUSES_DAMAGED',
 'HOUSES_DAMAGED_DESCRIPTION',
 'HOUSES_DESTROYED',
 'HOUSES_DESTROYED_DESCRIPTION',
 'DISASTER_TYPE']

In [5]:
list(volcano)

['Year',
 'Month',
 'Day',
 'TSU',
 'EQ',
 'Name',
 'Location',
 'Country',
 'Latitude',
 'Longitude',
 'Elevation',
 'Type',
 'Status',
 'Time',
 'VEI',
 'Agent',
 'DEATHS',
 'DEATHS_DESCRIPTION',
 'MISSING',
 'MISSING_DESCRIPTION',
 'INJURIES',
 'INJURIES_DESCRIPTION',
 'DAMAGE_MILLIONS_DOLLARS',
 'DAMAGE_DESCRIPTION',
 'HOUSES_DESTROYED',
 'HOUSES_DESTROYED_DESCRIPTION',
 'TOTAL_DEATHS',
 'TOTAL_DEATHS_DESCRIPTION',
 'TOTAL_MISSING',
 'TOTAL_MISSING_DESCRIPTION',
 'TOTAL_INJURIES',
 'TOTAL_INJURIES_DESCRIPTION',
 'TOTAL_DAMAGE_MILLIONS_DOLLARS',
 'TOTAL_DAMAGE_DESCRIPTION',
 'TOTAL_HOUSES_DESTROYED',
 'TOTAL_HOUSES_DESTROYED_DESCRIPTION',
 'DISASTER_TYPE']

In [6]:
volcano = volcano.rename(columns = {'Year':'YEAR', 'Month':'MONTH', 'Day':'DAY', 'Location': 'LOCATION_NAME', 'Latitude':'LATITUDE', 'Longitude':'LONGITUDE'})

In [7]:
volcano = volcano.rename(columns = {'Country': 'COUNTRY'})

In [8]:
list(earthquake)

['I_D',
 'FLAG_TSUNAMI',
 'YEAR',
 'MONTH',
 'DAY',
 'HOUR',
 'MINUTE',
 'SECOND',
 'FOCAL_DEPTH',
 'EQ_PRIMARY',
 'EQ_MAG_MW',
 'EQ_MAG_MS',
 'EQ_MAG_MB',
 'EQ_MAG_ML',
 'EQ_MAG_MFA',
 'EQ_MAG_UNK',
 'INTENSITY',
 'COUNTRY',
 'STATE',
 'LOCATION_NAME',
 'LATITUDE',
 'LONGITUDE',
 'REGION_CODE',
 'DEATHS',
 'DEATHS_DESCRIPTION',
 'MISSING',
 'MISSING_DESCRIPTION',
 'INJURIES',
 'INJURIES_DESCRIPTION',
 'DAMAGE_MILLIONS_DOLLARS',
 'DAMAGE_DESCRIPTION',
 'HOUSES_DESTROYED',
 'HOUSES_DESTROYED_DESCRIPTION',
 'HOUSES_DAMAGED',
 'HOUSES_DAMAGED_DESCRIPTION',
 'TOTAL_DEATHS',
 'TOTAL_DEATHS_DESCRIPTION',
 'TOTAL_MISSING',
 'TOTAL_MISSING_DESCRIPTION',
 'TOTAL_INJURIES',
 'TOTAL_INJURIES_DESCRIPTION',
 'TOTAL_DAMAGE_MILLIONS_DOLLARS',
 'TOTAL_DAMAGE_DESCRIPTION',
 'TOTAL_HOUSES_DESTROYED',
 'TOTAL_HOUSES_DESTROYED_DESCRIPTION',
 'TOTAL_HOUSES_DAMAGED',
 'TOTAL_HOUSES_DAMAGED_DESCRIPTION',
 'DISASTER_TYPE']

combine houses damaged and houses destroyed

In [9]:
earthquake['HOUSES_AFFECTED']=''
for i in range(len(earthquake)):
    if pd.notnull(earthquake['TOTAL_HOUSES_DAMAGED'][i]) == True and pd.notnull(earthquake['TOTAL_HOUSES_DESTROYED'][i])== True:
        earthquake['HOUSES_AFFECTED'][i] = earthquake['TOTAL_HOUSES_DAMAGED'][i] + earthquake['TOTAL_HOUSES_DESTROYED'][i]

/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [10]:
for i in range(len(earthquake)):
    if pd.notnull(earthquake['TOTAL_HOUSES_DAMAGED'][i]) == False and pd.notnull(earthquake['TOTAL_HOUSES_DESTROYED'][i])== True:
        earthquake['HOUSES_AFFECTED'][i] = earthquake['TOTAL_HOUSES_DESTROYED'][i]
    if pd.notnull(earthquake['TOTAL_HOUSES_DAMAGED'][i]) == True and pd.notnull(earthquake['TOTAL_HOUSES_DESTROYED'][i])== False:
         earthquake['HOUSES_AFFECTED'][i] = earthquake['TOTAL_HOUSES_DAMAGED'][i]

/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [11]:
volcano['HOUSES_AFFECTED']=''
for i in range(len(volcano)):
    volcano['HOUSES_AFFECTED'][i] = volcano['TOTAL_HOUSES_DESTROYED'][i]

/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
tsunami['HOUSES_AFFECTED']=''
for i in range(len(tsunami)):
    if pd.notnull(tsunami['HOUSES_DAMAGED'][i]) == True and pd.notnull(tsunami['HOUSES_DESTROYED'][i])== True:
        tsunami['HOUSES_AFFECTED'][i] = tsunami['HOUSES_DAMAGED'][i] + tsunami['HOUSES_DESTROYED'][i]
    if pd.notnull(tsunami['HOUSES_DAMAGED'][i]) == False and pd.notnull(tsunami['HOUSES_DESTROYED'][i])== True:
        tsunami['HOUSES_AFFECTED'][i] = tsunami['HOUSES_DESTROYED'][i]
    if pd.notnull(tsunami['HOUSES_DAMAGED'][i]) == True and pd.notnull(tsunami['HOUSES_DESTROYED'][i])== False:
         tsunami['HOUSES_AFFECTED'][i] = tsunami['HOUSES_DAMAGED'][i]

/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

grab info from datasets needed

In [13]:
volcano_df = volcano[['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS']]

In [14]:
tsunami_df = tsunami[['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'DEATHS', 'INJURIES']]

In [15]:
earthquake_df = earthquake[['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS']]

In [16]:
tsunami_df = tsunami_df.rename(columns={'DEATHS':'TOTAL_DEATHS', 'INJURIES':'TOTAL_INJURIES'})

In [17]:
#check lengths before merge
print(len(volcano_df))
print(len(tsunami_df))
print(len(earthquake_df))
print(len(volcano_df)+len(tsunami_df)+len(earthquake_df))

466
27143
3645
31254

In [18]:
noaa = pd.merge(volcano_df, tsunami_df, on =['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'TOTAL_DEATHS','TOTAL_INJURIES'], how='outer')

In [19]:
noaa = pd.merge(noaa, earthquake_df, on = ['YEAR', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'DISASTER_TYPE', 'HOUSES_AFFECTED', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS'], how='outer')

In [20]:
len(noaa)

31254

In [21]:
list(noaa)

['YEAR',
 'COUNTRY',
 'LATITUDE',
 'LONGITUDE',
 'DISASTER_TYPE',
 'HOUSES_AFFECTED',
 'TOTAL_DEATHS',
 'TOTAL_INJURIES',
 'TOTAL_DAMAGE_MILLIONS_DOLLARS']

bring in emDat, clean columns

In [22]:
emDat.head()

,year,iso,country_name,disaster subtype,occurrence,Total deaths,Injured,Affected,Homeless,Total affected,Total damage ('000 US$)
0,1900,JPN,Japan,Ash fall,1.0,30.0,NaN,NaN,NaN,NaN,NaN
1,1901,JPN,Japan,Tsunami,1.0,18.0,NaN,NaN,NaN,NaN,NaN
2,1901,TZA,"Tanzania, United Republic of",Ground movement,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1902,SLV,El Salvador,Tsunami,1.0,185.0,NaN,NaN,NaN,NaN,NaN
4,1902,GTM,Guatemala,Ash fall,2.0,7000.0,NaN,NaN,NaN,NaN,NaN

In [23]:
list(emDat)

['year',
 'iso',
 ' country_name',
 'disaster subtype',
 'occurrence',
 'Total deaths',
 'Injured',
 'Affected',
 'Homeless',
 'Total affected',
 "Total damage  ('000 US$)"]

In [24]:
emDat = emDat.rename(columns = {'year':'YEAR', ' country_name':'COUNTRY', 'disaster subtype':'DISASTER_TYPE','Total deaths':'TOTAL_DEATHS','Injured':'TOTAL_INJURED', 'Total affected':'TOTAL_AFFECTED', 'Homeless':'TOTAL_HOMELESS', "Total damage  ('000 US$)":'TOTAL_DAMAGED'})

In [25]:
emDat = emDat.rename(columns = {'TOTAL_INJURED': 'TOTAL_INJURIES'})

In [26]:
emDat['TOTAL_DAMAGE_MILLIONS_DOLLARS']=''
for i in range(len(emDat)):
    if pd.notnull(emDat['TOTAL_DAMAGED'][i]) == True:
        emDat['TOTAL_DAMAGE_MILLIONS_DOLLARS'][i] = emDat['TOTAL_DAMAGED'][i]/1000

/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [27]:
emDat = emDat[['YEAR', 'COUNTRY', 'DISASTER_TYPE', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS']]

In [28]:
print(len(emDat))
print(len(noaa))
print(len(emDat)+len(noaa))

1230
31254
32484

In [74]:
emDat = pd.read_csv('emDat_2.csv')

In [75]:
noaa = noaa[pd.notnull(noaa['YEAR'])]
emDat = emDat[pd.notnull(emDat['YEAR'])]

In [76]:
noaa["YEAR"] = noaa["YEAR"].astype('int64')
emDat["YEAR"] = emDat["YEAR"].astype('int64')

In [77]:
noaa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31253 entries, 1 to 31253
Data columns (total 9 columns):
YEAR                             31253 non-null int64
COUNTRY                          31251 non-null object
LATITUDE                         30618 non-null float64
LONGITUDE                        30622 non-null float64
DISASTER_TYPE                    31253 non-null object
HOUSES_AFFECTED                  30817 non-null object
TOTAL_DEATHS                     2219 non-null float64
TOTAL_INJURIES                   1362 non-null float64
TOTAL_DAMAGE_MILLIONS_DOLLARS    443 non-null float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.4+ MB

In [78]:
emDat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1226 entries, 0 to 1225
Data columns (total 8 columns):
Unnamed: 0                       1226 non-null int64
Unnamed: 0.1                     1226 non-null int64
YEAR                             1226 non-null int64
COUNTRY                          1226 non-null object
DISASTER_TYPE                    1226 non-null object
TOTAL_DEATHS                     903 non-null float64
TOTAL_INJURIES                   680 non-null float64
TOTAL_DAMAGE_MILLIONS_DOLLARS    457 non-null float64
dtypes: float64(3), int64(3), object(2)
memory usage: 86.2+ KB

Merge dataframes

In [89]:
master = pd.merge(noaa, emDat, on=['YEAR', 'COUNTRY', 'DISASTER_TYPE', 'TOTAL_DEATHS', 'TOTAL_INJURIES', 'TOTAL_DAMAGE_MILLIONS_DOLLARS'], how = 'outer')

In [99]:
master.head()

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
0,1900,Japan,36.400,138.530,volcano,NaN,25.0,NaN,NaN,NaN,NaN
1,1900,Japan,31.930,130.870,volcano,NaN,2.0,3.0,NaN,NaN,NaN
2,1900,Japan,37.620,140.280,volcano,NaN,72.0,10.0,NaN,NaN,NaN
3,1900,Ethiopia,8.158,39.130,volcano,NaN,NaN,NaN,NaN,NaN,NaN
4,1901,Indonesia,-7.930,112.308,volcano,NaN,NaN,NaN,NaN,NaN,NaN

get rid of years <1900

In [83]:
master = master.sort_values('YEAR')

In [84]:
master.head()

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
15769,-2000,SYRIA,35.583,35.750,tsunami,,NaN,NaN,NaN,NaN,NaN
18523,-1610,SYRIA,35.583,35.750,tsunami,,NaN,NaN,NaN,NaN,NaN
465,-1610,GREECE,35.500,25.000,tsunami,,NaN,NaN,NaN,NaN,NaN
466,-479,GREECE,40.300,23.330,tsunami,,NaN,NaN,NaN,NaN,NaN
467,-426,GREECE,38.651,22.999,tsunami,,NaN,NaN,NaN,NaN,NaN

In [101]:
master_test = master

In [102]:
for i in range(len(master_test)):
    if master_test['YEAR'][i] < 1900:
        master_test.drop(i, inplace = True)

KeyError: 465

In [103]:
master_test.sort_values('YEAR')

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
0,1900,Japan,36.40000,138.530000,volcano,NaN,25.0,NaN,NaN,NaN,NaN
25195,1900,INDONESIA,-2.41670,134.216700,tsunami,,NaN,NaN,NaN,NaN,NaN
27608,1900,INDONESIA,-0.03000,127.250000,earthquake,,NaN,NaN,NaN,NaN,NaN
27609,1900,INDONESIA,-6.84000,106.960000,earthquake,,NaN,NaN,NaN,NaN,NaN
27610,1900,JAPAN,36.50000,133.500000,earthquake,,NaN,NaN,NaN,NaN,NaN
27611,1900,MEXICO,20.00000,-105.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27612,1900,MEXICO,20.00000,-105.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27613,1900,VENEZUELA,10.30000,-63.300000,earthquake,,NaN,NaN,NaN,NaN,NaN
27614,1900,VENEZUELA,10.60000,-66.950000,earthquake,,NaN,NaN,NaN,NaN,NaN
27615,1900,COSTA RICA,10.00000,-85.500000,earthquake,,NaN,NaN,NaN,NaN,NaN
27616,1900,TURKEY,40.30000,43.100000,earthquake,,NaN,NaN,NaN,NaN,NaN
27617,1900,SOLOMON ISLANDS,-10.00000,165.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27618,1900,USA,58.60000,-137.500000,earthquake,,5.0,NaN,NaN,NaN,NaN
27619,1900,PAPUA NEW GUINEA,-4.00000,152.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27620,1900,PAPUA NEW GUINEA,-5.00000,148.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
25194,1900,INDONESIA,-2.85000,134.500000,tsunami,,NaN,NaN,NaN,NaN,NaN
27621,1900,COLOMBIA,4.60000,-74.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27623,1900,USA,57.09000,-153.480000,earthquake,,NaN,NaN,NaN,NaN,NaN
27624,1900,VENEZUELA,11.00000,-66.000000,earthquake,,25.0,NaN,NaN,NaN,NaN
27625,1900,RUSSIA,43.00000,146.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
2550,1900,PAPUA NEW GUINEA,-4.22000,152.180000,tsunami,,NaN,NaN,NaN,NaN,NaN
2551,1900,PAPUA NEW GUINEA,-4.22000,152.180000,tsunami,,NaN,NaN,NaN,NaN,NaN
2552,1900,PAPUA NEW GUINEA,-4.32500,152.240000,tsunami,,NaN,NaN,NaN,NaN,NaN
2553,1900,PAPUA NEW GUINEA,NaN,NaN,tsunami,,NaN,NaN,NaN,NaN,NaN
12243,1900,VENEZUELA,10.61700,-66.883000,tsunami,,NaN,NaN,NaN,NaN,NaN
18478,1900,PALAU,3.00611,131.123889,tsunami,,NaN,NaN,NaN,NaN,NaN
31253,1900,Japan,NaN,NaN,Ash fall,NaN,30.0,NaN,NaN,0.0,0.0
15571,1900,INDONESIA,-3.05000,135.750000,tsunami,1,5.0,NaN,NaN,NaN,NaN
14719,1900,USA,58.64000,-137.570000,tsunami,,5.0,NaN,NaN,NaN,NaN
12245,1900,VENEZUELA,10.30000,-65.983000,tsunami,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27456,2018,INDONESIA,-0.75837,119.785470,tsunami,,NaN,NaN,NaN,NaN,NaN
27457,2018,INDONESIA,-0.75883,119.786430,tsunami,,NaN,NaN,NaN,NaN,NaN
27445,2018,INDONESIA,-0.67972,119.759970,tsunami,,NaN,NaN,NaN,NaN,NaN
27397,2018,INDONESIA,-0.78183,119.858940,tsunami,,NaN,NaN,NaN,NaN,NaN
31251,2019,NETHERLANDS,53.39400,6.586000,earthquake,840,NaN,NaN,NaN,NaN,NaN
464,2019,Indonesia,3.17000,98.392000,volcano,NaN,NaN,NaN,NaN,NaN,NaN
31250,2019,CHINA,45.20500,124.611000,earthquake,167,NaN,NaN,NaN,NaN,NaN
31249,2019,PAPUA NEW GUINEA,-4.08100,152.569000,earthquake,,NaN,NaN,NaN,NaN,NaN
31248,2019,PAPUA NEW GUINEA,-6.97700,146.440000,earthquake,130,NaN,NaN,NaN,NaN,NaN
31247,2019,PHILIPPINES,14.92400,120.497000,earthquake,4375,18.0,183.0,NaN,NaN,NaN
31246,2019,TAIWAN,23.98900,121.693000,earthquake,,1.0,16.0,NaN,NaN,NaN
31245,2019,INDONESIA,-1.85200,122.553000,earthquake,,1.0,NaN,NaN,NaN,NaN
31244,2019,TANZANIA,-7.87800,32.085000,earthquake,4,1.0,NaN,NaN,NaN,NaN
31243,2019,INDONESIA,-8.41800,116.520000,earthquake,4456,6.0,NaN,NaN,NaN,NaN
31242,2019,PERU,-14.68400,-70.127000,earthquake,,1.0,1.0,NaN,NaN,NaN
31241,2019,INDONESIA,-1.30100,101.601000,earthquake,343,NaN,48.0,NaN,NaN,NaN
463,2019,Papua New Guinea,-4.10000,145.061000,volcano,NaN,NaN,NaN,NaN,NaN,NaN
31240,2019,CHINA,29.49800,104.632000,earthquake,10920,2.0,12.0,2.0,NaN,NaN
31238,2019,AZERBAIJAN,40.89200,48.602000,earthquake,3000,NaN,3.0,NaN,NaN,NaN
31237,2019,INDIA,19.60000,72.800000,earthquake,,1.0,NaN,NaN,NaN,NaN
31236,2019,MEXICO,14.76300,-92.298000,earthquake,,NaN,4.0,NaN,NaN,NaN
31235,2019,POLAND,50.08000,18.390000,earthquake,,1.0,8.0,NaN,NaN,NaN
31234,2019,CHILE,-30.07400,-71.423000,earthquake,260,2.0,NaN,NaN,NaN,NaN
31233,2019,POLAND,51.52000,16.090000,earthquake,,1.0,6.0,NaN,NaN,NaN
31232,2019,IRAN,34.12100,45.681000,earthquake,,NaN,75.0,NaN,NaN,NaN
31231,2019,CHINA,28.26100,104.984000,earthquake,691,NaN,774.0,NaN,NaN,NaN
31252,2019,PERU,-5.79600,-75.298000,earthquake,,2.0,30.0,NaN,NaN,NaN
32477,2019,Indonesia,NaN,NaN,Ground movement,NaN,9.0,45.0,NaN,1224.0,1224.0
31239,2019,ECUADOR,-2.19900,-77.023000,earthquake,80,1.0,9.0,NaN,NaN,NaN
32478,2019,Italy,NaN,NaN,--,NaN,NaN,28.0,115.0,1225.0,1225.0

In [104]:
master = master_test

In [105]:
master.sort_values('YEAR')

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
0,1900,Japan,36.40000,138.530000,volcano,NaN,25.0,NaN,NaN,NaN,NaN
25195,1900,INDONESIA,-2.41670,134.216700,tsunami,,NaN,NaN,NaN,NaN,NaN
27608,1900,INDONESIA,-0.03000,127.250000,earthquake,,NaN,NaN,NaN,NaN,NaN
27609,1900,INDONESIA,-6.84000,106.960000,earthquake,,NaN,NaN,NaN,NaN,NaN
27610,1900,JAPAN,36.50000,133.500000,earthquake,,NaN,NaN,NaN,NaN,NaN
27611,1900,MEXICO,20.00000,-105.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27612,1900,MEXICO,20.00000,-105.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27613,1900,VENEZUELA,10.30000,-63.300000,earthquake,,NaN,NaN,NaN,NaN,NaN
27614,1900,VENEZUELA,10.60000,-66.950000,earthquake,,NaN,NaN,NaN,NaN,NaN
27615,1900,COSTA RICA,10.00000,-85.500000,earthquake,,NaN,NaN,NaN,NaN,NaN
27616,1900,TURKEY,40.30000,43.100000,earthquake,,NaN,NaN,NaN,NaN,NaN
27617,1900,SOLOMON ISLANDS,-10.00000,165.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27618,1900,USA,58.60000,-137.500000,earthquake,,5.0,NaN,NaN,NaN,NaN
27619,1900,PAPUA NEW GUINEA,-4.00000,152.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27620,1900,PAPUA NEW GUINEA,-5.00000,148.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
25194,1900,INDONESIA,-2.85000,134.500000,tsunami,,NaN,NaN,NaN,NaN,NaN
27621,1900,COLOMBIA,4.60000,-74.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
27623,1900,USA,57.09000,-153.480000,earthquake,,NaN,NaN,NaN,NaN,NaN
27624,1900,VENEZUELA,11.00000,-66.000000,earthquake,,25.0,NaN,NaN,NaN,NaN
27625,1900,RUSSIA,43.00000,146.000000,earthquake,,NaN,NaN,NaN,NaN,NaN
2550,1900,PAPUA NEW GUINEA,-4.22000,152.180000,tsunami,,NaN,NaN,NaN,NaN,NaN
2551,1900,PAPUA NEW GUINEA,-4.22000,152.180000,tsunami,,NaN,NaN,NaN,NaN,NaN
2552,1900,PAPUA NEW GUINEA,-4.32500,152.240000,tsunami,,NaN,NaN,NaN,NaN,NaN
2553,1900,PAPUA NEW GUINEA,NaN,NaN,tsunami,,NaN,NaN,NaN,NaN,NaN
12243,1900,VENEZUELA,10.61700,-66.883000,tsunami,,NaN,NaN,NaN,NaN,NaN
18478,1900,PALAU,3.00611,131.123889,tsunami,,NaN,NaN,NaN,NaN,NaN
31253,1900,Japan,NaN,NaN,Ash fall,NaN,30.0,NaN,NaN,0.0,0.0
15571,1900,INDONESIA,-3.05000,135.750000,tsunami,1,5.0,NaN,NaN,NaN,NaN
14719,1900,USA,58.64000,-137.570000,tsunami,,5.0,NaN,NaN,NaN,NaN
12245,1900,VENEZUELA,10.30000,-65.983000,tsunami,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27456,2018,INDONESIA,-0.75837,119.785470,tsunami,,NaN,NaN,NaN,NaN,NaN
27457,2018,INDONESIA,-0.75883,119.786430,tsunami,,NaN,NaN,NaN,NaN,NaN
27445,2018,INDONESIA,-0.67972,119.759970,tsunami,,NaN,NaN,NaN,NaN,NaN
27397,2018,INDONESIA,-0.78183,119.858940,tsunami,,NaN,NaN,NaN,NaN,NaN
31251,2019,NETHERLANDS,53.39400,6.586000,earthquake,840,NaN,NaN,NaN,NaN,NaN
464,2019,Indonesia,3.17000,98.392000,volcano,NaN,NaN,NaN,NaN,NaN,NaN
31250,2019,CHINA,45.20500,124.611000,earthquake,167,NaN,NaN,NaN,NaN,NaN
31249,2019,PAPUA NEW GUINEA,-4.08100,152.569000,earthquake,,NaN,NaN,NaN,NaN,NaN
31248,2019,PAPUA NEW GUINEA,-6.97700,146.440000,earthquake,130,NaN,NaN,NaN,NaN,NaN
31247,2019,PHILIPPINES,14.92400,120.497000,earthquake,4375,18.0,183.0,NaN,NaN,NaN
31246,2019,TAIWAN,23.98900,121.693000,earthquake,,1.0,16.0,NaN,NaN,NaN
31245,2019,INDONESIA,-1.85200,122.553000,earthquake,,1.0,NaN,NaN,NaN,NaN
31244,2019,TANZANIA,-7.87800,32.085000,earthquake,4,1.0,NaN,NaN,NaN,NaN
31243,2019,INDONESIA,-8.41800,116.520000,earthquake,4456,6.0,NaN,NaN,NaN,NaN
31242,2019,PERU,-14.68400,-70.127000,earthquake,,1.0,1.0,NaN,NaN,NaN
31241,2019,INDONESIA,-1.30100,101.601000,earthquake,343,NaN,48.0,NaN,NaN,NaN
463,2019,Papua New Guinea,-4.10000,145.061000,volcano,NaN,NaN,NaN,NaN,NaN,NaN
31240,2019,CHINA,29.49800,104.632000,earthquake,10920,2.0,12.0,2.0,NaN,NaN
31238,2019,AZERBAIJAN,40.89200,48.602000,earthquake,3000,NaN,3.0,NaN,NaN,NaN
31237,2019,INDIA,19.60000,72.800000,earthquake,,1.0,NaN,NaN,NaN,NaN
31236,2019,MEXICO,14.76300,-92.298000,earthquake,,NaN,4.0,NaN,NaN,NaN
31235,2019,POLAND,50.08000,18.390000,earthquake,,1.0,8.0,NaN,NaN,NaN
31234,2019,CHILE,-30.07400,-71.423000,earthquake,260,2.0,NaN,NaN,NaN,NaN
31233,2019,POLAND,51.52000,16.090000,earthquake,,1.0,6.0,NaN,NaN,NaN
31232,2019,IRAN,34.12100,45.681000,earthquake,,NaN,75.0,NaN,NaN,NaN
31231,2019,CHINA,28.26100,104.984000,earthquake,691,NaN,774.0,NaN,NaN,NaN
31252,2019,PERU,-5.79600,-75.298000,earthquake,,2.0,30.0,NaN,NaN,NaN
32477,2019,Indonesia,NaN,NaN,Ground movement,NaN,9.0,45.0,NaN,1224.0,1224.0
31239,2019,ECUADOR,-2.19900,-77.023000,earthquake,80,1.0,9.0,NaN,NaN,NaN
32478,2019,Italy,NaN,NaN,--,NaN,NaN,28.0,115.0,1225.0,1225.0

Drop NAN in Lat/Long, Disaster

In [108]:
master_map = master[pd.notnull(master['LATITUDE'])]
master_map = master_map[pd.notnull(master_map['LONGITUDE'])]
master_map = master_map[pd.notnull(master_map['DISASTER_TYPE'])]

In [110]:
master_map.head()

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
0,1900,Japan,36.400,138.530,volcano,NaN,25.0,NaN,NaN,NaN,NaN
1,1900,Japan,31.930,130.870,volcano,NaN,2.0,3.0,NaN,NaN,NaN
2,1900,Japan,37.620,140.280,volcano,NaN,72.0,10.0,NaN,NaN,NaN
3,1900,Ethiopia,8.158,39.130,volcano,NaN,NaN,NaN,NaN,NaN,NaN
4,1901,Indonesia,-7.930,112.308,volcano,NaN,NaN,NaN,NaN,NaN,NaN

Drop NAN in general

In [122]:
master_chart = master_map.fillna(0)

In [123]:
master_chart

,YEAR,COUNTRY,LATITUDE,LONGITUDE,DISASTER_TYPE,HOUSES_AFFECTED,TOTAL_DEATHS,TOTAL_INJURIES,TOTAL_DAMAGE_MILLIONS_DOLLARS,Unnamed: 0,Unnamed: 0.1
0,1900,Japan,36.400,138.530,volcano,0,25.0,0.0,0.000,0.0,0.0
1,1900,Japan,31.930,130.870,volcano,0,2.0,3.0,0.000,0.0,0.0
2,1900,Japan,37.620,140.280,volcano,0,72.0,10.0,0.000,0.0,0.0
3,1900,Ethiopia,8.158,39.130,volcano,0,0.0,0.0,0.000,0.0,0.0
4,1901,Indonesia,-7.930,112.308,volcano,0,0.0,0.0,0.000,0.0,0.0
5,1901,Vanuatu,-16.680,168.370,volcano,0,0.0,0.0,0.000,0.0,0.0
6,1902,Martinique,14.820,-61.170,volcano,0,23.0,0.0,0.000,0.0,0.0
7,1902,St. Vincent & the Grenadines,13.330,-61.180,volcano,0,1680.0,0.0,0.000,0.0,0.0
8,1902,Martinique,14.820,-61.170,volcano,0,28000.0,0.0,0.000,0.0,0.0
9,1902,Martinique,14.820,-61.170,volcano,0,0.0,0.0,0.000,0.0,0.0
10,1902,Japan,30.480,140.320,volcano,0,125.0,0.0,0.000,0.0,0.0
11,1902,Martinique,14.820,-61.170,volcano,0,1500.0,0.0,0.000,0.0,0.0
12,1902,Guatemala,14.756,-91.552,volcano,0,10000.0,0.0,0.000,0.0,0.0
13,1902,Indonesia,-7.542,110.442,volcano,0,16.0,45.0,0.000,0.0,0.0
14,1903,New Zealand,-38.120,176.500,volcano,0,4.0,0.0,0.000,0.0,0.0
15,1903,Comoros,-11.750,43.380,volcano,0,17.0,0.0,0.000,0.0,0.0
16,1904,Comoros,-11.750,43.380,volcano,0,1.0,0.0,0.000,0.0,0.0
17,1905,Italy,40.821,14.426,volcano,0,1.0,1.0,0.000,0.0,0.0
18,1905,Samoa,-13.612,-172.525,volcano,0,0.0,0.0,0.000,0.0,0.0
19,1906,Italy,40.821,14.426,volcano,0,350.0,300.0,0.000,0.0,0.0
20,1907,Tonga,-21.380,-175.650,volcano,0,0.0,0.0,0.000,0.0,0.0
21,1907,Ethiopia,12.880,40.570,volcano,0,0.0,0.0,0.000,0.0,0.0
22,1907,Indonesia,-8.530,122.775,volcano,0,1.0,0.0,0.000,0.0,0.0
23,1907,Samoa,-13.612,-172.525,volcano,0,0.0,0.0,0.000,0.0,0.0
24,1909,Cameroon,4.203,9.170,volcano,0,0.0,0.0,0.000,0.0,0.0
25,1909,Indonesia,-8.108,112.920,volcano,0,221.0,0.0,0.000,0.0,0.0
26,1910,New Zealand,-38.820,176.000,volcano,0,1.0,0.0,0.000,0.0,0.0
27,1910,Japan,42.530,140.830,volcano,0,1.0,0.0,0.000,0.0,0.0
28,1911,Philippines,14.002,120.993,volcano,543,1335.0,199.0,0.000,0.0,0.0
29,1911,Japan,36.400,138.530,volcano,60,1.0,0.0,0.000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
31223,2018,INDONESIA,-2.916,119.435,earthquake,,7.0,0.0,0.000,0.0,0.0
31224,2018,IRAN,34.304,45.740,earthquake,,1.0,759.0,0.000,0.0,0.0
31225,2018,AFGHANISTAN,35.817,68.682,earthquake,60,0.0,9.0,0.000,0.0,0.0
31226,2018,USA,61.340,-149.937,earthquake,1652,0.0,117.0,100.000,0.0,0.0
31227,2018,VANUATU,-16.368,168.213,earthquake,,0.0,0.0,0.000,0.0,0.0
31228,2018,CHINA,28.264,104.991,earthquake,6160,0.0,17.0,7.255,0.0,0.0
31229,2018,MOZAMBIQUE,-20.644,32.801,earthquake,600,0.0,10.0,0.000,0.0,0.0
31230,2018,ITALY,37.555,15.166,earthquake,15,0.0,28.0,114.000,0.0,0.0
31231,2019,CHINA,28.261,104.984,earthquake,691,0.0,774.0,0.000,0.0,0.0
31232,2019,IRAN,34.121,45.681,earthquake,,0.0,75.0,0.000,0.0,0.0
31233,2019,POLAND,51.520,16.090,earthquake,,1.0,6.0,0.000,0.0,0.0
31234,2019,CHILE,-30.074,-71.423,earthquake,260,2.0,0.0,0.000,0.0,0.0
31235,2019,POLAND,50.080,18.390,earthquake,,1.0,8.0,0.000,0.0,0.0
31236,2019,MEXICO,14.763,-92.298,earthquake,,0.0,4.0,0.000,0.0,0.0
31237,2019,INDIA,19.600,72.800,earthquake,,1.0,0.0,0.000,0.0,0.0
31238,2019,AZERBAIJAN,40.892,48.602,earthquake,3000,0.0,3.0,0.000,0.0,0.0
31239,2019,ECUADOR,-2.199,-77.023,earthquake,80,1.0,9.0,0.000,0.0,0.0
31240,2019,CHINA,29.498,104.632,earthquake,10920,2.0,12.0,2.000,0.0,0.0
31241,2019,INDONESIA,-1.301,101.601,earthquake,343,0.0,48.0,0.000,0.0,0.0
31242,2019,PERU,-14.684,-70.127,earthquake,,1.0,1.0,0.000,0.0,0.0
31243,2019,INDONESIA,-8.418,116.520,earthquake,4456,6.0,0.0,0.000,0.0,0.0
31244,2019,TANZANIA,-7.878,32.085,earthquake,4,1.0,0.0,0.000,0.0,0.0
31245,2019,INDONESIA,-1.852,122.553,earthquake,,1.0,0.0,0.000,0.0,0.0
31246,2019,TAIWAN,23.989,121.693,earthquake,,1.0,16.0,0.000,0.0,0.0
31247,2019,PHILIPPINES,14.924,120.497,earthquake,4375,18.0,183.0,0.000,0.0,0.0
31248,2019,PAPUA NEW GUINEA,-6.977,146.440,earthquake,130,0.0,0.0,0.000,0.0,0.0
31249,2019,PAPUA NEW GUINEA,-4.081,152.569,earthquake,,0.0,0.0,0.000,0.0,0.0
31250,2019,CHINA,45.205,124.611,earthquake,167,0.0,0.0,0.000,0.0,0.0
31251,2019,NETHERLANDS,53.394,6.586,earthquake,840,0.0,0.0,0.000,0.0,0.0
31252,2019,PERU,-5.796,-75.298,earthquake,,2.0,30.0,0.000,0.0,0.0

Export all data

In [124]:
master_map.to_csv('master_map.csv')
master_chart.to_csv('master_chart.csv')